<!-- blog posts-->


{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
{% capture blog_posts %}
  <blog-posts class="blog-post-list blog-post-list-{{section.id}} justify-center {% unless section.settings.stack_on_mobile %}blog-post-list--carousel scroll-area snap-x bleed md:unbleed{% endunless %}" {% if settings.stagger_blog_posts_apparition %}reveal-on-scroll="true"{% endif %}>
    {%- capture sizes -%}(max-width: 699px) 95vw, (max-width: 1149px) calc(100vw / 2), calc((80rem - (5rem * ({{ section.settings.blog.articles_count | default: 3 | at_most: 3 }} - 1) / 3){%- endcapture -%}

    {%- for article in section.settings.blog.articles limit: section.settings.posts_count -%}
      {%- render 'blog-post-card', use_background_image: false , article: article, blog: section.settings.blog, show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more, sizes: sizes -%}
    {%- else -%}
      {%- for i in (1..3) -%}
        {%- render 'blog-post-card', show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more  -%}
      {%- endfor -%}
    {%- endfor -%}
  </blog-posts>
{% endcapture %}

<div class="section-x-spacing {% if section.settings.separate_section_with_border %}bordered-section{% endif %}  {% if section.settings.apply_top_padding %} section-pt {% endif %} {% if section.settings.apply_bottom_padding %} section-pb {% endif %}">
  <div class="">
    <div class="section-stack section-stack-{{ section.id }}">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'left' -%}

    <div class="mobile-blog-stacked-{{section.id}}">
      {%- for article in section.settings.blog.articles limit: section.settings.posts_count -%}
        {%- render 'blog-post-card', use_background_image: false , article: article, blog: section.settings.blog, show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more, sizes: sizes -%}
      {% endfor %}
    </div>

      <div class="blog-wrapper-{{section.id}}">
        {{ blog_posts }}
        <div class="button-{{section.id}} button-desktop-{{section.id}}">
          {%- assign button_link = section.settings.button_link | default: section.settings.blog.url -%}
          {%- render 'button', style: "button", class_attribute: "button", href: button_link, content: section.settings.button_text -%}
        </div>
      </div>
    </div>
  </div>

</div>

<style>
 .blog-wrapper-{{section.id}} img { border-radius: 10px; }
  .blog-post-list { --blog-post-list-column-gap: 10px !important; }
  .blog-wrapper-{{section.id}}{ grid-template-columns: 1fr; }
  .button-grid-{{section.id}}{ display: grid; justify-content: center;}

  .button-{{ section.id }}{  margin-top: 50px; }
  .mobile-blog-stacked-{{section.id}}{ display: none; }
  @media screen and (max-width: 640px){
    .button-{{ section.id }}{  margin-top: 0px; }
    .section-stack-{{ section.id }}{ gap: 34px; }
    .button-{{ section.id }}{  text-align: center;  }
  }
  {% if section.settings.stack_on_mobile %}
    @media screen and (max-width: 640px){
      .mobile-blog-stacked-{{section.id}}{ display: block; }
      .blog-post-list-{{section.id}}{ display: none; }
      .mobile-blog-stacked-{{section.id}} > div > .stacked-blog-{{ section.id }} > h2 { color: #FFF; }
      .mobile-blog-stacked-{{section.id}} > div { margin-bottom: 32px; }
      .mobile-blog-stacked-{{section.id}} > div:last-of-type { margin-bottom: 0; }
      .stacked-blog-{{ section.id }}{ position: absolute; bottom: 26px; left: 16px; }
    }
  {% endif %}

  @media screen and (min-width: 1000px){
    .blog-wrapper-{{ section.id }}{
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 10px;
    }

    .button-grid-{{section.id}}{ display: grid; justify-content: left;}

    .button-{{ section.id }}{
      align-self: end;
      margin-bottom: 50px;
      justify-content: center;
      display: grid;
    }
  }

</style>

{% schema %}
{
  "name": "t:sections.blog_posts.name",
  "class": "shopify-section--blog-posts",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "apply_top_padding",
      "label": "Apply top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "apply_bottom_padding",
      "label": "Apply bottom padding",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "blog_image",
      "label": "Blog image"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog_posts.blocks.blog.blog"
    },
    {
      "type": "range",
      "id": "posts_count",
      "min": 2,
      "max": 9,
      "label": "t:sections.blog_posts.blocks.blog.posts_count",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "label": "t:sections.blog_posts.stack_on_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "t:global.blog.show_category",
      "info": "t:global.blog.show_category_info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:global.blog.show_excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "t:global.blog.show_read_more",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.section.header_category"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:global.text.subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "Blog posts"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:global.text.content"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:global.text.button_link",
      "info": "t:sections.blog_posts.button_link_info"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text",
      "default": "View all"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_posts.presets.blog_posts.name",
      "settings": {
        "blog": "news"
      }
    }
  ]
}
{% endschema %}