<!-- image-with-text -->
{%- if section.settings.image != blank or section.blocks.size > 0 -%}
  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <style>
    #shopify-section-{{ section.id }} {
      --image-with-text-content-max-width: {% if section.settings.content_width == 'sm' %}430px{% elsif section.settings.content_width == 'md' %}780px{% else %}100%{% endif %};
    }
    .text-wrapper-{{ section.id }} h2 {
      line-height: {{ section.settings.heading_line_height }};
    }
    .text-wrapper-{{ section.id }} p,
    .text-wrapper-{{ section.id }} div {
      line-height: {{ section.settings.paragraph_line_height }};
    }
  </style>

  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="section-{{ section.id }}" class="{% if section.settings.apply_top_padding %} section-pt {% endif %} {% if section.settings.apply_bottom_padding %} section-pb {% endif %} {% unless section.settings.remove_vertical_spacing %}section-spacing{% endunless %} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}
     section-x1-spacing">
    <image-with-text class="image-with-text image-with-text-{{ section.id }} {% if section.settings.image_position == 'end' %}image-with-text--reverse{% endif %}">
      {%- if section.settings.image != blank -%}
        <picture class="image-{{section.id}}">
          {%- assign sizes = '(max-width: 699px) 100vw, 50vw' -%}

          {%- if section.settings.mobile_image != blank -%}
            <source
                media="(max-width: 699px)"
                srcset="{{ section.settings.mobile_image | image_url: width: '400x' }} 400w, {{ section.settings.mobile_image | image_url: width: '600x' }} 600w, {{ section.settings.mobile_image | image_url: width: '800x' }} 800w, {{ section.settings.mobile_image | image_url: width: '1000x' }} 1000w"
                width="{{ section.settings.mobile_image.width }}"
                height="{{ section.settings.mobile_image.height }}"
            >
          {%- endif -%}
            
          {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', reveal-on-scroll: section.settings.reveal_on_scroll -}}
        </picture>
      {%- else -%}
        {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
      {%- endif -%}

      <div class="prose text-left sm:text-start text-wrapper-{{ section.id }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'subheading' -%}
              {%- if block.settings.text != blank -%}
                <p class="h6 BarlowSC-Medium" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
              {%- endif -%}

            {%- when 'heading' -%}
              {%- if block.settings.text != blank -%}
                {%if page.handle == 'dog-beds' or page.handle == 'training-range' or page.handle == 'travel-range' %}
                  <h3 class="{{ block.settings.heading_tag }} BarlowSC dfs-40 mfs-40" style="font-size: {{ section.settings.heading_size }}px !important; margin: {{ section.settings.heading_spacing }}px;" {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
                {% else %}
                  <h2 class="{{ block.settings.heading_tag }} BarlowSC dfs-40 mfs-40" style="font-size: {{ section.settings.heading_size }}px !important; margin: {{ section.settings.heading_spacing }}px;" {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
              {% endif %}
              {%- endif -%}

            {%- when 'richtext' -%}
              {%- if block.settings.content != blank -%}
                <div style="font-size: {{ section.settings.paragraph_size }}px; margin: {{ section.settings.paragraph_spacing }}px;" {{ block.shopify_attributes }}>
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}

            {%- when 'page' -%}
              {%- if block.settings.page.content != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.page.content -}}
                </div>
              {%- endif -%}

            {%- when 'liquid' -%}
              {%- if block.settings.liquid != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.liquid -}}
                </div>
              {%- endif -%}

            {%- when 'link' -%}
              <a {% if block.settings.url %}data-url="{{ block.settings.url }}"{% endif %} class="link" {{ block.shopify_attributes }}><span>{{ block.settings.text | escape }}</span></a>

             {%- when 'buttons' -%}
              <div class="button-group button-grid-{{section.id}} hidden-phone">
                {%- if block.settings.button_1_text != blank -%}
                  <a data-url="{{ block.settings.button_1_url }}" class="button" style="color: {{ block.settings.cta_text_color | default: '#ffffff' }}; background: {{ block.settings.cta_background | default: "#ee1c25" }}; 
                    border: 2px solid {{ block.settings.cta_background }};
                    border-radius: 8px; 
                    padding: {{ section.settings.cta_padding }}px {{ section.settings.cta_padding_horizontal }}px;
                    font-size: {{ section.settings.cta_size }}px;
                    margin: {{ section.settings.cta_spacing }}px;
                    font-family: 'Barlow Semi Condensed', sans-serif; font-weight: bold; text-decoration:underline;">
                    <span style="font-size: {{ section.settings.cta_text_size }}px;">{{ block.settings.button_1_text }}</span>
                  </a>
                {%- endif -%}
              </div>

              <div class="mobile-links-{{section.id}} hidden-tablet-and-up">
                {%- if block.settings.button_1_text != blank -%}
                  <div class="mobile-link-wrapper-{{ section.id }}">
                    <a class="link-1-{{section.id}} mfs-16 Barlow-Medium" href="{{block.settings.button_1_url}}" style="color: {{ block.settings.cta_text_color | default: "#ffffff" }}; background: {{ block.settings.cta_background | default: "#ee1c25" }} !important; 
                    border: 2px solid {{ block.settings.cta_background }};
                    border-radius: 8px;
                    padding: {{ section.settings.cta_padding }}px {{ section.settings.cta_padding_horizontal }}px;
                    font-size: {{ section.settings.cta_size }}px;
                    margin: {{ section.settings.cta_spacing }}px;
                    font-family: 'Barlow Semi Condensed', sans-serif; font-weight: bold; text-decoration:underline;">
                      <span style="font-size: {{ section.settings.cta_text_size }}px;">{{ block.settings.button_1_text }}</span>
                    </a>
                    <!-- {%- render 'icon' with 'chevron-right', width: 12, direction_aware: true -%} -->
                  </div>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </image-with-text>
  </div>
{%- endif -%}

<style>

  .text-wrapper-{{ section.id }}{
    margin-inline-start: unset !important; 
  }

  .image-with-text-{{ section.id }}{
    justify-items: center;
  }
  
  .image-{{section.id}} > img{ 
    border-radius: 10px; 
    transition: border-radius .2s;   
  }
   .image-with-text.image-with-text-{{ section.id }} {
      background: {{section.settings.background}};
      /* color: #fff; */
    }
    .image-with-text.image-with-text-{{ section.id }} img {
      border-radius: 0;
    }
  
    a.button:hover {
      color: #ffffff !important;
      background: #ea2d24 !important;
      text-decoration: none !important;
    }
  
    .image-with-text.image-with-text-{{ section.id }} {
      color: {{ section.settings.text_color | default: '#000' }};
    }

    {% if template == 'index' %}
      .image-with-text.image-with-text-{{ section.id }} {
        color: {{ section.settings.text_color | default: '#fff' }};
      }
    {% endif %}

    .prose.text-left.sm\:text-start.text-wrapper-{{ section.id }} {
      background: {{section.settings.background}};
    }
  
  {% if section.settings.image_position != 'end' %}
    .image-{{section.id}} > img{ border-radius: 10px;}
  {% endif %}
  
  @media screen and (min-width: 1600px){
    .image-{{section.id}} > img{ border-radius: 10px; }
  }
  
  @media screen and (max-width: 767px){
    .button-grid-{{section.id}}{ display: none; }
    .image-with-text-{{ section.id }}{ position: relative; }
    .image-with-text-{{ section.id }} > picture { margin-bottom: 3.5em; }
  
    .text-wrapper-{{ section.id }}{
      margin-top: -180px !important;
      z-index: 1;
      margin-left: 30px;
      margin-right: 30px;
      bottom: 0;
      background: #FFF;
      margin: auto;
      left: 30px;
      right: 30px;
      border-radius: 10px;
      padding: 35px;
      padding-inline-start: 35px !important;
      padding-inline-end: 35px !important;
      margin: auto;
    }
    .mobile-links-{{section.id}} { display: flex; gap: 24px; justify-content: start; }

    .mobile-link-wrapper-{{ section.id }}{
      display: flex;
      align-items: baseline;
      gap: 5px;
      margin-top: 0;
    }
    
    .mobile-links-{{section.id}} > a {
      display: flex;
      align-items: baseline;
      gap: 8px;
      background: linear-gradient(to right,currentColor,currentColor) 0 min(100%,3.35em) / 100% 1px no-repeat;
      margin-block-start: 0 !important; 
    }
    
    .mobile-link-wrapper-{{ section.id }}:has( .link-1-{{section.id}}){ color: #EA2D24; }
    .link-1-{{section.id}}, .link-2-{{section.id}}{background: none !important; border-bottom: 1px solid currentColor; }

    .prose.text-left.sm\:text-start.text-wrapper-{{ section.id }} {
       border-radius: 0;
    }
   .section-x1-spacing {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .prose.text-left.sm\:text-start.text-wrapper-{{ section.id }} {
        max-width: 100%;
    }
    .text-wrapper-{{ section.id }} {
        margin-top: 0px !important;
    }
    .image-with-text-{{ section.id }} p.BarlowSC.dfs-40.mfs-40 {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 500px){
    .text-wrapper-{{ section.id }}{ margin-top: -50px !important;
  }
  
  @media screen and (min-width: 641px){
    
    .mobile-links-{{section.id}}{ display: none; }
    .button-grid-{{section.id}}{ display: flex; gap: 1em; justify-content: left; flex-wrap: wrap; gap: 32px; }
    .button-grid-{{section.id}}> a { height: min-content; margin-block-start: 0 !important; white-space: pre; }
  }
  @media screen and (min-width: 768px){
    .image-with-text>.prose {
        margin-block: 0
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.image_with_text.name",
  "class": "shopify-section--image-with-text",
  "tag": "section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "apply_top_padding",
      "label": "Apply top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "apply_bottom_padding",
      "label": "Apply bottom padding",
      "default": false
    },    
    {
      "type": "color",
      "id": "background",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "1000x1000 recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.image_with_text.mobile_image_size_recommendation"
    },
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "t:global.animation.reveal_image_on_scroll",
      "default": true
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image_with_text.image_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "t:global.spacing.remove_vertical_spacing",
      "default": true
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading Font Size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "heading_spacing",
      "label": "Heading Spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "paragraph_size",
      "label": "Paragraph Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "paragraph_spacing",
      "label": "Paragraph Spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "cta_size",
      "label": "CTA Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "cta_spacing",
      "label": "CTA Spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "cta_padding",
      "label": "CTA Vertical Padding",
      "min": 5,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "cta_padding_horizontal",
      "label": "CTA Horizontal Padding",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "cta_text_size",
      "label": "CTA Text Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading Line Height",
      "min": 1.0,
      "max": 2.0,
      "step": 0.1,
      "unit": "lh",
      "default": 1.5
    },
    {
      "type": "range",
      "id": "paragraph_line_height",
      "label": "Paragraph Line Height",
      "min": 1.0,
      "max": 2.0,
      "step": 0.1,
      "unit": "lh",
      "default": 1.5
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.image_with_text.blocks.subheading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_with_text.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.image_with_text.blocks.paragraph.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.image_with_text.blocks.page.name",
      "settings": [
        {	
          "type": "page",	
          "id": "page",	
          "label": "Page"	
        }	
      ]	
    },	
    {
      "type": "liquid",
      "name": "t:sections.image_with_text.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid",
          "default": "<p>Write custom Liquid code to include widget or dynamic code.</p>"	
        }	
      ]	
    },	
    {	
      "type": "link",
      "name": "t:sections.image_with_text.blocks.link.name",
      "settings": [
        {	
          "type": "text",	
          "id": "text",	
          "label": "t:global.text.text",
          "default": "Text"	
        },	
        {	
          "type": "url",	
          "id": "url",	
          "label": "t:global.text.link"
        }
      ]
    },
     {
      "type": "buttons",
      "name": "CTAs",
      "settings": [
        {
          "type": "header",
          "content": "CTA 1"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "CTA 1 text",
          "default": "CTA text"
        },
        {
          "type": "url",
          "id": "button_1_url",
          "label": "CTA 1 URL"
        },
        {
          "type": "color",
          "id": "cta_background",
          "label": "CTA background color"
        },
        {
          "type": "color",
          "id": "cta_text_color",
          "label": "CTA text color"
        }      
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text.presets.image_with_text.name",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Subheading"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Image with text"
          }
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}